# Core dependencies
numpy
PyYAML
requests

# Sensor libraries
sparkfun-qwiic-bme280
sparkfun-qwiic-veml6030
adafruit-circuitpython-ltr390
adafruit-blinka

# MQTT communication
paho-mqtt

# Utilities
python-dateutil
schedule
